<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }

        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<ul>
    <div th:each="a : ${admin}">
        <li><a class="active"  th:href="${'/administrator/' + a.id}">Admin</a></li>
        <li><a th:href="${'/odjava-a/' + a.id}">Odjavi se</a></li>
        <li><a class="active"  th:href="${'/dodaj-bioskop/'}">Dodaj bioskop</a></li>
    </div>
</ul>
<table id="film" class="table" style="margin-top: 70px;">
    <tr>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Telefon</th>
        <th>Email</th>
    </tr>
    <tr th:each="bioskop : ${bioskopi}">
        <td th:text="${bioskop.naziv}"></td>
        <td th:text="${bioskop.adresa}"></td>
        <td th:text="${bioskop.telefon}"></td>
        <td th:text="${bioskop.email}"></td>
        <td> <a th:href="@{/izmeni-bioskop/__${bioskop.id}__}" type="submit">Izmeni</a> </td>
        <td> <a th:href="@{/obrisi-bioskop/__${bioskop.id}__}" type="submit">Obrisi</a> </td>
        <td> <a th:href="@{/pregled-menadzera/__${bioskop.id}__}" type="submit">Menadzeri</a> </td>
    </tr>
</table>
</body>
</html>