<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pocetna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }

        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<ul>
    <li><a class="active" href="/">Pocetna</a></li>
    <li><a href="/login">Prijava</a></li>
    <li><a href="/register">Registracija</a></li>
    <li><a style="margin-left:150px" href="/sort/naziv-rastuce">Sort po nazivu rastuce</a></li>
    <li><a href="/sort/naziv-opadajuce">Sort po nazivu opadajuce</a></li>
    <li><a href="/sort/zanr-rastuce">Sort po zanru rastuce</a></li>
    <li><a href="/sort/zanr-opadajuce">Sort po zanru opadajuce</a></li>
</ul>
<div class="container" style="display: flex; height: 100px;">
    <div style="width: 20%;">
        <form style="margin-top: 50px;" th:action="@{/pretrazi}" th:object="${pretraga}" method = "post">
            <input type="text" th:field="*{tekst}" placeholder="Pretraga.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div style="flex-grow: 1;">
        <form style="margin-top: 50px;" th:action="@{/pretrazi-2}" th:object="${pretraga}" method = "post">
            <label>Naziv:</label>
            <input type="text" th:field="*{tekst}" placeholder="Upisi naziv filma.." name="fname" required="required">
            <div style="flex-grow: 1;">
                <label>Zanr:</label>
                <input type="text" th:field="*{tekst}" placeholder="Upisi zanr filma.." name="fname" required="required">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
<table id="film" class="table" style="margin-top: 50px;">
    <tr>
        <th>Film</th>
        <th>Zanr</th>
        <th>Vreme projekcije</th>
        <th>Bioskop</th>
        <th>Sala</th>
        <th>Broj rez. karata</th>
        <th>Cena</th>
    </tr>
    <tr th:each="film : ${filmovi}">
        <td th:text="${film.film.naziv}"></td>
        <td th:text="${film.film.zanr}"></td>
        <td th:text="${film.vreme}"></td>
        <td th:text="${film.sala.bioskop.naziv}"></td>
        <td th:text="${film.sala.oznaka}"></td>
        <td th:text="${film.brRezKarata}"></td>
        <td th:text="${film.cena}"></td>
    </tr>
</table>
<!--<table th:each="film : ${filmovi1}"  class="table" style="margin-top: 50px;">
    <tr>
        <th>Bioskop</th>
        <th>Sala</th>
        <th>Film</th>
    </tr>
    <tr th:each="sala : ${sale}">
        <td th:text="${sala.bioskop.naziv}"></td>
        <td th:text="${sala.oznaka}"></td>
        <td th:text="${film.naziv}"></td>
    </tr>
</table> -->
</body>
</html>