<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menadzeri</title>
    <style>
         ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }

        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<ul style="margin-bottom: 50px;">
    <div th:each="a : ${admin}">
        <li><a class="active"  th:href="${'/administrator/' + a.id}">Admin</a></li>
        <li><a th:href="${'/odjava-a/' + a.id}">Odjavi se</a></li>
    </div>
    <li><a class="active"  th:href="${'/dodaj-menadzera/'}">Dodaj menadzera</a></li>
</ul>
<label style="font-size:35px;">Menadzeri:</label>
<table id="film" class="table" style="margin-top: 10px;">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Kontakt telefon</th>
        <th>Email</th>
        <th>Datum rodjenja</th>
    </tr>
    <tr th:each="menadzer : ${menadzeri}">
        <td th:text="${menadzer.ime}"></td>
        <td th:text="${menadzer.prezime}"></td>
        <td th:text="${menadzer.kontakttelefon}"></td>
        <td th:text="${menadzer.email}"></td>
        <td th:text="${menadzer.datumrodjenja}"></td>
        <td> <a th:href="@{/ukloni-menadzera/__${menadzer.id}__}" type="submit">Ukloni</a> </td>
    </tr>
</table>
</body>
</html>