<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <meta charset="utf-8"/>
    <style>
        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<div class="container" style="margin-bottom: 50px;">
    <div class="col"></div>
    <div th:each="g : ${gledalac}">
        <div id="ime">
            <h style="font-size:20px;">Ime: <span th:text="${g.ime}"></span></h>
        </div>
        <div id="prezime">
            <h style="font-size:20px;">Prezime: <span th:text="${g.prezime}"></span></h>
        </div>
        <div id="korIme">
            <h style="font-size:20px;">Korisnicko ime: <span th:text="${g.korisnickoime}"></span></h>
        </div>
        <a th:href="${'/gledalac/' + g.id}">Back</a>
    </div>
    <div class="col"></div>
</div>
<h style="font-size:35px;">Lista odgledanih filmova</h>
<table th:each="g : ${gledalac}" id="film" class="table" style="margin-top: 10px;">
    <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Zanr</th>
        <th>Trajanje</th>
        <th>Ocena</th>
    </tr>
    <tr th:each="film : ${filmovi}">
        <td th:text="${film.naziv}"></td>
        <td th:text="${film.opis}"></td>
        <td th:text="${film.zanr}"></td>
        <td th:text="${film.trajanje}"></td>
        <td th:text="${film.ocena}"></td>
    </tr>
</table>

</body>
</html>