<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pocetna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }

        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<ul>
    <div th:each="g : ${gledalac}">
        <li><a class="active"  th:href="${'/gledalac/' + g.id}">Pocetna</a></li>
        <li><a th:href="${'/profil/' + g.id}">Moj profil</a></li>
        <li><a th:href="${'/gledalac/rezervacija/' + g.id}">Moje rezervacije</a></li>
    </div>
</ul>
<table th:each="g : ${gledalac}" id="film" class="table" style="margin-top: 50px;">
    <tr>
        <th>Film</th>
        <th>Zanr</th>
        <th>Vreme projekcije</th>
        <th>Bioskop</th>
        <th>Sala</th>
        <th>Broj rez. karata</th>
        <th>Cena</th>
    </tr>
    <tr th:each="film : ${filmovi}">
        <td th:text="${film.film.naziv}"></td>
        <td th:text="${film.film.zanr}"></td>
        <td th:text="${film.vreme}"></td>
        <td th:text="${film.sala.bioskop.naziv}"></td>
        <td th:text="${film.sala.oznaka}"></td>
        <td th:text="${film.brRezKarata}"></td>
        <td th:text="${film.cena}"></td>
        <td> <a th:href="@{/potvrdi/__${film.id}__}" type="submit">Potvrdi</a> </td>
        <td> <a th:href="@{/odustani/__${film.id}__}" type="submit">Odustani</a> </td>
    </tr>
</table>
</body>
</html>