<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sale</title>
    <style>
         ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #111;
        }

        #film {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #film td, #film th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #film tr:nth-child(even){background-color: #f2f2f2;}

        #film tr:hover {background-color: #ddd;}

        #film th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
    </style>
</head>
<body>
<ul style="margin-bottom: 70px;">
    <div th:each="m : ${menadzer}">
        <li><a class="active"  th:href="${'/menadzer/' + m.id}">Menadzer</a></li>
    </div>
    <li><a class="active"  th:href="${'/dodaj-salu/'}">Dodaj salu</a></li>
    <li><a class="active"  th:href="${'/dodaj-projekciju/'}">Dodaj projekciju</a></li>
</ul>
<h style="font-size:35px;">Sale:</h>
<table id="film" class="table" style="margin-top: 10px;margin-bottom:50px;">
    <tr>
        <th>Sala</th>
        <th>Kapacitet</th>
    </tr>
    <tr th:each="sala : ${sale}">
        <td th:text="${sala.oznaka}"></td>
        <td th:text="${sala.kapacitet}"></td>
        <td> <a th:href="@{/izmeni-salu/__${sala.id}__}" type="submit">Izmeni</a> </td>
        <td> <a th:href="@{/obrisi-salu/__${sala.id}__}" type="submit">Obrisi</a> </td>
    </tr>
</table>
<h style="font-size:35px;">Projekcije:</h>
<table id="film" class="table" style="margin-top: 10px;">
    <tr>
        <th>Film</th>
        <th>Zanr</th>
        <th>Vreme projekcije</th>
        <th>Bioskop</th>
        <th>Sala</th>
        <th>Broj slobodnih mesta</th>
        <th>Cena(din)</th>
    </tr>
    <tr th:each="film : ${filmovi}">
        <td th:text="${film.film.naziv}"></td>
        <td th:text="${film.film.zanr}"></td>
        <td th:text="${film.vreme}"></td>
        <td th:text="${film.sala.bioskop.naziv}"></td>
        <td th:text="${film.sala.oznaka}"></td>
        <td th:text="${film.sala.kapacitet}"></td>
        <td th:text="${film.cena}"></td>
        <td> <a th:href="@{/izmeni-projekciju/__${film.id}__}" type="submit">Izmeni</a> </td>
    </tr>
</table>
</body>
</html>